@font-face {
  font-family: 'Gotham';
  src: url("GothamLight.ttf"); }
/*-- reset -- */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Gotham; }
  body p {
    font-size: 1.7em;
    line-height: 1.2em; }
  body h1 {
    width: auto;
    font-size: 3em;
    margin-bottom: 5%; }
  body button:hover {
    cursor: pointer; }
  body #modal-box.closed {
    transform: translateY(110%); }
  body header {
    margin-top: 0; }
    body header a {
      color: #747474;
      text-decoration: none;
      line-height: 1.4em; }
      body header a:hover {
        color: black; }
    body header #navlogo {
      float: left;
      padding-left: 10px; }
    body header #mainnav {
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
      text-align: center;
      border-bottom: solid 1px #d3d3d3; }
      body header #mainnav li {
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 1.2em; }
    body header #subnav {
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
      text-align: center; }
      body header #subnav li {
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 0.9em; }
      body header #subnav button {
        background-color: #2c2c2c;
        color: white;
        border: none;
        padding: 7px 14px;
        border-radius: 15px; }
        body header #subnav button:hover {
          background-color: #5d5d5d; }
      body header #subnav .active {
        text-decoration: underline;
        font-weight: 300;
        color: black; }
  body main {
    padding-bottom: 6%;
    margin-bottom: 20px;
    background-color: #e6e6e6; }
    body main #beoplay {
      display: inline-block;
      margin-left: 12%;
      margin-top: 5%;
      width: 35%;
      max-width: 400px; }
    body main #textcontainer {
      display: inline-block;
      width: 39%;
      margin-left: 4%;
      margin-right: 8%;
      color: #747474; }
      body main #textcontainer p {
        margin-top: 12%; }
    body main .number {
      font-size: 1.2em; }
    body main .price {
      font-size: 1.2em; }
      body main .price span {
        margin-top: 12%; }
    body main aside {
      background-color: #fffff0;
      width: 620px;
      height: 269px;
      bottom: 0;
      right: 0;
      position: fixed;
      transform: translateY(0);
      transition: transform 0.6s ease; }
      body main aside #modalcontainer {
        float: right;
        width: 50%; }
        body main aside #modalcontainer #asideoverskrift {
          font-size: 26px;
          padding-left: 6%;
          font-weight: bold;
          color: #d9c6af;
          text-align: center; }
        body main aside #modalcontainer #asidebrodtekst {
          font-size: 18px;
          margin-top: 6%;
          text-align: center;
          color: #d9c6af; }
        body main aside #modalcontainer #signup {
          display: inline-block;
          font-size: 18px;
          text-align: center;
          padding: 3% 33%;
          margin-top: 8%;
          margin-left: 6%;
          margin-right: 6%;
          color: #fff;
          background-color: #d9c6af;
          text-decoration: none;
          border-radius: 5px; }
        body main aside #modalcontainer #signup:hover {
          background-color: #d3d3d3; }
      body main aside img {
        float: left;
        width: 50%; }
      body main aside button {
        background-color: #5d5d5d;
        color: white;
        border: none;
        padding: 7px 11px;
        border-radius: 20px;
        font-size: 16px;
        z-index: 100;
        top: -15px;
        left: -326px;
        position: relative; }
      body main aside button:hover {
        background-color: #747474; }
  body footer {
    text-align: center;
    padding-bottom: 3%;
    background-color: #2c2c2c; }
    body footer p {
      font-size: 15px;
      display: inline-block;
      color: #747474; }
    body footer a {
      font-size: 15px;
      display: inline-block;
      color: #747474; }
    body footer nav #mainbottomnav {
      padding-top: 2%;
      padding-bottom: 2%;
      width: 100%;
      text-align: center;
      background-color: #2c2c2c;
      border-bottom: solid 1px #747474; }
      body footer nav #mainbottomnav li {
        display: inline-block;
        margin-left: 0.5%;
        margin-right: 0.5%;
        font-size: 1.4em;
        padding-top: 1%;
        padding-bottom: 1%; }
      body footer nav #mainbottomnav a {
        color: #747474;
        text-decoration: none; }
      body footer nav #mainbottomnav a:hover {
        color: #d3d3d3; }
      body footer nav #mainbottomnav label {
        display: inline-block;
        margin-left: 0.5%;
        margin-right: 0.5%;
        font-size: 1.4em;
        padding-top: 1%;
        padding-bottom: 1%;
        color: #747474;
        text-decoration: none; }
      body footer nav #mainbottomnav select {
        background-color: black;
        width: 12%;
        padding: 5px;
        line-height: 1;
        border-radius: 20px;
        border: none;
        height: 34px;
        color: white; }
    body footer nav #subbottomnav {
      padding-top: 1%;
      padding-bottom: 1%;
      width: 100%;
      text-align: center;
      background-color: #2c2c2c; }
      body footer nav #subbottomnav li {
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0.5%; }
      body footer nav #subbottomnav a {
        color: #d3d3d3;
        text-decoration: none; }
        body footer nav #subbottomnav a:hover {
          color: #747474; }
    body footer #justthetwo {
      height: 100%;
      padding-top: 8%;
      padding-bottom: 10%;
      background-color: #2c2c2c; }
      body footer #justthetwo p {
        color: white;
        text-align: center; }
      body footer #justthetwo a {
        display: block;
        text-align: center;
        margin-top: 1%;
        color: #5d5d5d;
        text-decoration: none; }
        body footer #justthetwo a:hover {
          color: #747474; }

@media all and (min-width: 0px) {
  #textcontainer {
    font-size: 0.4em; }

  #justthetwo > p {
    font-size: 2.5em; }

  #justthetwo > a {
    font-size: 0.6em; }

  footer > p {
    font-size: 0.6em; }

  footer > a {
    font-size: 0.6em; }

  #modal-box {
    display: none; } }
@media all and (min-width: 480px) {
  #textcontainer {
    font-size: 0.5em; }

  #justthetwo > p {
    font-size: 3em; }

  footer > p {
    font-size: 0.7em; }

  footer > a {
    font-size: 0.7em; } }
@media all and (min-width: 856px) {
  #textcontainer {
    font-size: 0.8em; }

  #justthetwo > p {
    font-size: 4em; }

  #justthetwo > a {
    font-size: 1.2em; }

  footer > p {
    font-size: 0.8em; }

  footer > a {
    font-size: 0.8em; }

  #modal-box {
    display: block; } }
@media all and (min-width: 1200px) {
  #textcontainer {
    font-size: 1em; }

  #justthetwo > p {
    font-size: 5em; }

  footer > p {
    font-size: 1em; }

  footer > a {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
